# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment and Logs
.env
*.log
logs/

# Node
node_modules/
dist/
.vite/

# IDEs
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3

# Testing
.coverage
htmlcov/
